{
  "extends": [
    "airbnb",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": [2, { "forbid": [ "any" ] }], // TODO replace object with shape
    "react/prop-types": 2,
    "react/react-in-jsx-scope": "off",
    "no-param-reassign": "off"
  },
  "env": {
    "browser": true
  }
}
